.👑 {
  /* should do something important */
}

.😎 {
  transition: all 300ms ease;
}

.🚀 {
  /* modal */
}

.🏢 {
  height: 100vh;
}

.👻 {
  display: none;
}

.📱 {
  @media (min-width: $small) {
    &👻 {
      display: none;
    }
  }
}

.💻 {
  @media (min-width: $medium) {
    &👻 {
      display: none;
    }
  }
}

.🖥 {
  @media (min-width: $large) {
    &👻 {
      display: none;
    }
  }
}
